* {
    box-sizing: border-box;

}

body {
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #cfcfcf;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    scrollbar-width: none;
}
.logo {
    text-align: left;
    color: rgb(28, 153, 103);
    font-size: 250%;
    margin-left: 50px;
    margin-top: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background: white;  
    padding: 20px;
    margin: 20px auto;
    margin-right: 0px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.container1 {
    width: 30%;
    background: white;  
    margin: 50px auto;
    margin-left: 5%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    width: 100%;
    display: flex;
    gap: 10px;
}

.note-text, .note-category {
    font-size: 20px;
}

.note-but {
    font-size: 15px;
    background-color: rgb(235, 66, 66);
}
input {
    flex-grow: 2;
    padding: 10px;
    border: 1px solid #ccc;
}

#categorySelect {
    flex-grow: 1;
}

#addNote {
    flex-grow: 1;
}

ul {
    list-style: none;
    width: 100%;
}

li button {
    background: #eee;
    color: red;
    border: none;
    cursor: pointer;
}
#noteList {
    list-style-type: none;
    padding: 0;
}

#noteList li {
    margin: 10px;
    padding: 10px;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    background: #ddd;
    border-radius: 10px;
}

button {
    padding: 7px 15px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all ease 0.2s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #044d9b;
}

#clearAll {
    background-color: #FF7b55;
    transition: all ease 0.2s;
    cursor: pointer;
    width: 170px;
    height: 40px;
}

#Go {
    transition: all ease 0.2s;
    cursor: pointer;
    width: 170px;
    height: 40px;
}
.Go-fin {
    margin: 10px;
    width: 200px;
    height: 40px;
}

#clearAll:hover{
    background-color: #FF7b00;
}

#clearAll:active{
    background-color: #c76305;
}

#divError {
    width: 300px;
    display: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    color: #fff;
    background-color: rgb(243, 47, 47);
    position: absolute;
    right: -300px;
    top: 90%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    transition: all ease 0.5s;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.fade-in {
    opacity: 1;
}


.transform-container {
    transition: all ease 1s;
    transform: translate3d(0px, -300px, 0px);
}

.button-group {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}