* {
    box-sizing: border-box;
}


/* Основные стили */
body {
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    scrollbar-width: none;
}
.logo {
    text-align: left;
    color: rgb(53, 197, 142);
    font-size: 250%;
    margin-left: 50px;
}
/* Контейнер */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;  
    padding: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.container1 {
    width: 100%;
    background: white;  
    margin: 50px auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.container2 {
    width: 100%;
}
/* Поле ввода и кнопка */
.input-container {
    width: 100%;
    display: flex;
    gap: 10px;
}


input {
    flex-grow: 2;
    padding: 10px;
    border: 1px solid #ccc;
}

#categorySelect {
    flex-grow: 1;
}

#addNote {
    flex-grow: 1;
}


/* Список заметок */
ul {
    list-style: none;
    width: 100%;
}

li button {
    background: #eee;
    color: red;
    border: none;
    cursor: pointer;
}
#noteList {
    list-style-type: none;
    padding: 0;
}

#noteList li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    border-radius: 5px;
}

button {
    padding: 7px 15px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all ease 0.2s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #044d9b;
}

#clearAll {
    background-color: #FF7b55;
    transition: all ease 0.2s;
}

#clearAll:hover{
    background-color: #FF7b00;
}

#clearAll:active{
    background-color: #c76305;
}

/* Ошибка */

#divError {
    width: 300px;
    display: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    color: #fff;
    background-color: rgb(243, 47, 47);
    position: absolute;
    right: -300px;
    top: 90%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    transition: all ease 0.5s;
}

/* Анимация удаления */
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.fade-in {
    opacity: 1;
}


.transform-container {
    transition: all ease 1s;
    transform: translate3d(0px, -300px, 0px);
}